* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align : center;
}

input,label {
    display: block;
}

/* applying additional css to label */
label {
    color: green;
}

input {
    width: 100%;
}

.submit{
    margin: 15px auto;
    width: 40%;
    background-color: rgb(149, 149, 226);
    border-radius: 5px;
}

/**
applying in sequence :: margin top right bottom left
marign  25px 50px 75px 100px;
15px auto 0 auto
**/

form {
    min-width: 300px;
    max-width: 500px;
    margin: auto;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
}

.g-recaptcha{
    margin-top: 15px;
    display: flex;
    justify-content: center;

}